body::before {
   display: block;
   content: '';
   height: 20px;
}

#boxes .card {
   min-height: 200px;

}

#instructors img {
   width: 100px;
   background-color: rgb(219, 219, 219);

}

#instructors .row {
   min-height: 400px;
}


/* breakpoint for medium */
@media(min-width:760px) {
   .news-input {
      width: 50%;
   }
}